---
const TituloProyecto = "Titulo del proyecto"
---

<div
	class="bg-white flex flex-col mx-auto
	py-3 px-3 w-full
	rounded-lg
	bg-white my-3 mx-8"
	"
>
	
	<div>
		<div class="flex flex-row gap-8 text-slate-500 font-light">
			<div>2023</div>
		</div>
		<h2 class="mb-4 text-xl">{TituloProyecto}</h2>
	</div>
	<img class="rounded-md size-full h-96 object-cover mb-1"
		src="https://images.unsplash.com/photo-1604079628040-94301bb21b91?q=80&w=2731&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
		alt="Foto de portada del proyecto"
	/>
</div>
